</div><br><div class="bottom"></div>
<br>
<div class="container">
<p>This project was created by <a href="https://hboeck.de/">Hanno Böck</a>. The code checking for vulnerable
keys <a href="https://github.com/badkeys/badkeys">is available on Github</a>.</p>
</div>
<div class="container">
<p dir="auto"><a href="https://nlnet.nl/project/badkeys/">badkeys is currently funded</a>
through the <a href="https://nlnet.nl/core">NGI0 Core Fund</a>, a fund established by
<a href="https://nlnet.nl/">NLnet</a> with financial support from the European Commission's
<a href="https://ngi.eu/">Next Generation Internet</a> programme, under the aegis of
<a href="https://commission.europa.eu/about-european-commission/departments-and-executive-agencies/communications-networks-content-and-technology_en">DG Communications Networks, Content and Technology</a>
under grant agreement No <a href="https://cordis.europa.eu/project/id/101092990">101092990</a>.</p>
<p>This work was initially funded in 2022 by Industriens Fond through the CIDI project
(Cybersecure IOT in Danish Industry) and the
<a href="https://cisat.dk/">Center for Information Security and Trust (CISAT)</a>
at the IT University of Copenhagen, Denmark.</p>
</div>
</div>
