</div><br><div class="bottom"></div>
<br>
<div class="container">
<p>This project was created by <a href="https://hboeck.de/">Hanno Böck</a>. The code checking for vulnerable
keys <a href="https://github.com/badkeys/badkeys">is available on Github</a>.</p>
</div>
<div class="container">
<p>This work was funded in part by Industriens Fond through the CIDI project
(Cybersecure IOT in Danish Industry) and in part by the
<a href="https://cist.dk/">Center for Information Security and Trust (CISAT)</a>
at the IT University of Copenhagen, Denmark.</p>
</div>
</div>
