</main><br><footer><div class="bottom"></div>
<div class="container">
<br>
<p>This project was created by <a href="https://hboeck.de/">Hanno Böck</a>. The code checking for vulnerable
keys <a href="https://github.com/badkeys/badkeys">is available on Github</a>.</p>
<p>This work was initially funded in 2022 by Industriens Fond through the CIDI project
(Cybersecure IOT in Danish Industry) and the
<a href="https://cisat.dk/">Center for Information Security and Trust (CISAT)</a>
at the IT University of Copenhagen, Denmark.
In 2025/2026,
<a href="https://nlnet.nl/project/badkeys">badkeys was supported by NLnet's NGI0 Core Fund</a>.</p>
</div>
</footer>
</body></html>
