<h2>Sparse DSA Keys (CompleteFTP)</h2>

<p>Older versions of CompleteFTP (before 26.1.0) generate
vulnerable DSA keys with repeating zero-byte patterns.</p>

<ul><li><a href="https://blog.trailofbits.com/2026/06/12/factoring-short-sleeve-rsa-keys-with-polynomials/">Factoring "short-sleeve" RSA keys with polynomials (Keegan Ryan, Trail of Bits)</a></li>
</ul>
