<h3>2025 Fortinet / Fortigate leak (CVE-2022-40684)</h3>

<p>In January 2025, configuration files from Fortigate/Fortinet devices
were posted to an Internet forum. Those were likely obtained in 2022
due to a vulnerability in those devices (CVE-2022-40684).</p>

<p>The private keys are encrypted with a known and static private key.</p>

<p>More Info: <a href="https://blog.hboeck.de/archives/908-Private-Keys-in-the-Fortigate-Leak.html">Private Keys in the Fortigate Leak</a></p>
