<h3>Public Private Keys</h3>

<p>For various reasons some "private keys" are public.</p>

<p>Example private keys are part of standards, software test suites and public
documentation. Sometimes such example keys are used in production due to a
lack of understanding how public key cryptography works.</p>

<p>Firmware often comes with hardcoded default keys. In the past security
researchers have published collections of such hardcoded keys, e.g. the
<a href="https://github.com/devttys0/littleblackbox">littleblackbox</a>
and the <a href="https://github.com/sec-consult/houseofkeys">House of Keys</a>.</p>

<p>No matter why a private key is public, it is obvious that a "public private key"
should be considered as insecure and compromised.</p>

<p>The <a href="https://github.com/SecurityFail/kompromat">Kompromat repository</a> collects "private keys that have become public". We
use this as the basis of our blocklist.</p>

<p>Some relevant CVEs detected by badkeys:</p>

<ul>
<li>CVE-2025-32754 (jenkins/ssh-agent Docker image hardcoded ssh host keys)</li>
<li>CVE-2025-32755 ((jenkins/ssh-slave Docker image hardcoded ssh host keys)</li>
</ul>
