<h3>Return of Coopersmith's Attack / ROCA (CVE-2017-15361)</h3>

<p>In 2017 a team of researchers from the Centre for Research on Cryptography and Security
(CRoCS) at Masaryk University discovered a vulnerability in the RSA key generation function
of hardware chips produced by the company Infineon.</p>

<p>This affected a wide variety of products. Most notably the government of Estonia had
to replace a large number of eID cards.</p>

<p><a href="https://crocs.fi.muni.cz/public/papers/rsa_ccs17">Information from the authors and research paper</a></p>
