<!DOCTYPE html><html lang="en"><meta charset="UTF-8"><head><title>_PRE_badkeys.info</title>
<link rel="stylesheet" href="/css/milligreen.min.css">
<link rel="stylesheet" href="/css/bk.css">
<link rel="icon" href="/img/key.svg">
<meta property="og:title" content="badkeys.info">
<meta property="og:description" content="Checking cryptographic public keys for known vulnerabilities.">
<meta property="og:url" content="https://badkeys.info/">
<meta property="og:type" content="website">
<meta property="og:image" content="https://badkeys.info/img/key.png">
<script src="/js/key.js"></script>
</head><body>
<div class='navbar top'>
<div class="container"><div class="right">
<a href="/">Home</a> <a href="/about.html">About</a>
</div><h3><a href="/">badkeys.info</a></h3>
<p>Checking cryptographic public keys for known vulnerabilities</p>
</div></div><div><br><div class="container">
