header always set "X-Frame-Options" "DENY"
header always set "X-Content-Type-Options" "nosniff"
header always set "Content-Security-Policy" "default-src 'none';script-src 'self';style-src 'self';img-src 'self';upgrade-insecure-requests;frame-ancestors 'none';base-uri 'self';form-action 'self'"
